* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #F8F5F2;
  color: #3C2A2A;
  font-size: 1rem;

}

header, footer {
  text-align: center;
  background: #5c0c2f;
  color: rgb(255, 255, 255);
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
}

form, section {
  background: rgba(105, 11, 41, 0.553);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

label {
  display: block;
  margin-top: 0.5rem;
}

input, textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

h1 {
  font-size: clamp(1.5rem, 2.5vw, 2rem);
}

@media (min-width: 768px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: start;
  }
}